# Dependencias
node_modules/
package-lock.json

# Archivos del sistema
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Archivos temporales
*.tmp
.env.local
.env.*.local
